<mat-horizontal-stepper [selectedIndex]="currentStep()" (selectionChange)="setStep($event.selectedIndex)">
  <mat-step label="Register">
    <app-register></app-register>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Industry">
    <app-industry-experience></app-industry-experience>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="About Us">
    <app-about-us></app-about-us>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" (click)="setStep(0)">Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
